<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="public_css1">
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- PAGE FAVICON                              -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="apple-touch-icon" th:href="@{/assets/images/favicon/apple-touch-icon.png}">
    <link rel="icon" th:href="@{/assets/images/favicon/favicon.ico}">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- GOOGLE FONTS                              -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Include CSS Filess                        -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Bootstrap -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font Awesome -->
    <link th:href="@{/assets/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Linearicons -->
    <link th:href="@{/assets/vendors/linearicons/css/linearicons.css}" rel="stylesheet">

    <!-- Owl Carousel -->
    <link th:href="@{/assets/vendors/owl-carousel/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendors/owl-carousel/owl.theme.min.css}" rel="stylesheet">

    <!-- Flex Slider -->
    <link th:href="@{/assets/vendors/flexslider/flexslider.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/assets/css/base.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

</div>
</body>
</html>