<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<div th:fragment="personal_css">
    <link th:href="@{/personal/AmazeUI-2.4.2/assets/css/admin.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/personal/AmazeUI-2.4.2/assets/css/amazeui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/personal/css/personal.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}">


    <link href="/personal/css/addstyle.css" rel="stylesheet" type="text/css">
</div>
</body>
</html>