<%--修改商品活动--%>
<div class="modal fade" id="activity-goods" th:fragment="activity-good" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加商品活动</h4>
            </div>
            <div class="modal-body">
                <form class="templatemo-login-form">
                    <div class="row form-group">
                        <div class="col-lg-6 form-group">
                            <div id="activity-goodsid" hidden></div>
                            <label class="control-label" for="activity-id">活动号</label>
                            <select class="form-control" id="activity-id">
                                <option value="1">1</option>
                                <option value="1">1</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 form-group">
                            <label class="control-label" for="activityname">活动名称</label>
                            <span type="text" class="form-control show-span" id="activityname" name="activityname"></span>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="control-label" for="discount">折扣</label>
                            <span type="number" class="form-control show-span" id="discount" name="discount" step="0.01"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 form-group">
                            <label class="control-label" for="fullprice">满</label>
                            <span type="number" class="form-control show-span" id="fullprice" name="fullprice"></span>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="control-label" for="reduceprice">减</label>
                            <span type="number" class="form-control show-span" id="reduceprice" name="reduceprice"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-6 form-group">
                            <label class="control-label" for="fullnum">满</label>
                            <span type="number" class="form-control show-span" id="fullnum" name="fullnum"></span>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="control-label" for="reducenum">免</label>
                            <span type="number" class="form-control show-span" id="reducenum" name="reducenum"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-12 form-group">
                            <label class="control-label" for="activitydes">活动描述</label>
                            <span class="form-control show-span" id="activitydes" rows="3" name="activitydes">asfd</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveActivity">保存</button>
            </div>
        </div>
    </div>
</div>
