<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- –––––––––––––––[ FOOTER ]––––––––––––––– -->
<footer id="mainFooter" class="main-footer" th:fragment="public_footer">
    <section class="footer-top-area pt-70 pb-30 pos-r bg-blue">
        <div class="container">
            <div class="row row-tb-20">
                <div class="col-sm-12 col-md-7">
                    <div class="row row-tb-20">
                        <div class="footer-col col-sm-6">
                            <div class="footer-about">
                                <img class="mb-40" th:src="@{assets/images/logo_light.png}" width="250" alt="">
                                <p class="color-light">FRIDAY网上商城正式成立于2019年12月20日。我们利用电子商务的各种手段，达成从买到卖的过程的虚拟商店，从而减少中间环节，消除运输成本和代理中间的差价，造就对普通消费和加大市场流通带来巨大的发展空间。尽可能的还消费者以利益，带动公司发展和企业腾飞，引导国民经济稳定快速发展，推动国内生产总值。</p>
                            </div>
                        </div>
                        <div class="footer-col col-sm-6">
                            <div class="footer-top-twitter">
                                <h2 class="color-lighter">我们保证</h2>
                                <ul class="twitter-list">
                                    <li class="single-twitter">
                                        <p class="color-light"><i class="ico fa fa-twitter"></i><a href="#">@FRIDAY CEO LJG
                                            :</a> 我们保证，一切以顾客的利益为中心，保证产品质量，我们不做黑心的买卖，顾客买的放心，我们舒心</p>
                                    </li>
                                    <li class="single-twitter">
                                        <p class="color-light"><i class="ico fa fa-twitter"></i><a href="#">@FRIDAY官网
                                            :</a> 我们全体员工保证，一定视顾客为上帝，保证顾客良好的购物环境，提供最优品质的服务</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="row row-tb-20">
                        <div class="footer-col col-sm-6">
                            <div class="footer-links">
                                <h2 class="color-lighter">我们的口号</h2>
                                <ul>
                                    <li><a>提供优质的服务</a>
                                    <li><a>最高质量商品</a>
                                    </li>
                                    <li><a>最实惠的价格</a>
                                    </li>
                                    <li><a>舒适的购物环境</a>
                                    </li>
                                    <li><a>相信FRIDAY！</a>
                                    </li>
                                    <li><a>带给您不一样的体验</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col col-sm-6">
                            <div class="footer-top-instagram instagram-widget">
                                <h2>快来看看！！！</h2>
                                <div class="row row-tb-5 row-rl-5">
                                    <div class="instagram-widget__item col-xs-4">
                                        <img src="assets/images/instagram/instagram_01.jpg" alt="">
                                    </div>

                                    <div class="instagram-widget__item col-xs-4">
                                        <img src="assets/images/instagram/instagram_02.jpg" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img src="assets/images/instagram/instagram_03.jpg" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img src="assets/images/instagram/instagram_04.jpg" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img src="assets/images/instagram/instagram_05.jpg" alt="">
                                    </div>


                                    <div class="instagram-widget__item col-xs-4">
                                        <img src="assets/images/instagram/instagram_06.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="payment-methods t-center">
                        <div class="row">
                            <p>Copyright &copy; 2019 . All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- –––––––––––––––[ END FOOTER ]––––––––––––––– -->
</body>
</html>